<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:include="layout :: htmlhead"></head>
    <body>
        <div class="container">
            <nav th:replace="layout :: menu">(menu)</nav>
            <a href="form.html" th:href="@{/cardapio/novo}" class="btn btn-primary btn-lg" role="button">Novo</a>
            <div class="border border-dark">
                <table class="table">
                    <thead class="thead-light"> 
                        <tr>
                            <th scope="col">Data</th>
                            <th scope="col">Itens</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr scope="row" th:each="umcard : ${listaCardapio}">
                            <td th:text="${#dates.format(umcard.dataFim, 'dd/MM/yyyy')}"></td>
                            
                            <td>
                            	<ul th:each="umitem : ${umcard.itens}">
                            		<li th:text="${umitem.produto.descricaoProduto}"></li>
                            	</ul>
                            
                            </td>
                            
                            <td>
                                <a href="form.html" th:href="@{'/cardapio/alterar/' + ${umcard.id}}" class="btn btn-secondary btn-lg" role="button">Alterar</a>
                                <a href="#" class="btn btn-warning btn-lg" role="button" data-toggle="modal" data-target="#confirmaExclusao" th:data-id="${umcard.id}">Excluir</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal fade" id="confirmaExclusao" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Deseja realmente Excluir?</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">X</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Deseja excluir este Item?</p>
                        </div>
                        <div class="modal-footer">
                            <a href="#" class="btn btn-warning btn-lg" id="btnConf" role="button">Sim</a>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:include="layout :: footer" id="footer">(footer)</div>
    	<script th:inline="javascript">
          /*<![CDATA[*/
               $('#confirmaExclusao').on('show.bs.modal', function (event) {
                  var button = $(event.relatedTarget)
                  var recipient = button.data('id')
                  var modal = $(this)
                  modal.find('#btnConf').attr("href","/cardapio/remover/" + recipient)
                })
           /*]]>*/
        </script> 
    </body>
</html>